<div class="container-fluid bg-slider-1">
  <div class="col-12 col-lg-6">
    <h2 class="text-white text-center">{{ 'sections.hero-slider.settings.text1.default' | t }}</h2>
      {% if section.settings.url1 %}
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary mt-4" href="{{ section.settings.url1 }}">
            {{ 'sections.hero-slider.settings.textbutton1.default' | t }}
          </a>
        </div>
      {% endif %}
  </div>
</div>

<style>
  .bg-slider-1{
      background-image: url("{% if section.settings.image-slider-1 != blank %} {{ section.settings.image-slider-1 | image_url }} {% else %} {{ 'Traditional.jpg' |  asset_url }} {% endif %}");
      height: 70vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center; /* Untuk horizontal */
      align-items: center; /* Untuk vertical */
      height: 100vh; /* Pastikan tinggi container */
  }
</style>
{% schema %}
{
    "name": "hero-slider",
    "settings": [
      {
          "type": "image_picker",
          "id": "image-slider-1",
          "label": "Upload Background Image 1"
      },
      {
          "type": "text",
          "id": "text1",
          "label": "Title Slider 1",
          "default": "sections.hero-slider.settings.text1.default"
      },
      {
          "type": "text",
          "id": "url1",
          "label": "Url Redirect 1",
          "default": "https://buytcm.com/collections/all"
      },
      {
          "type": "text",
          "id": "textbutton1",
          "label": "Text Button 1",
          "default": "sections.hero-slider.settings.textbutton1.default"
      }
    ],
    "presets": [
        {
            "name": "hero-slider"
        }
    ]
}
{% endschema %}