<section class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2>{{'page.privacy.sub-title' | t}}</h2>
            <p class="mb-0"><b>{{'page.privacy.sub-title-1' | t}}</b></p>
            <p>{{'page.privacy.paragraph-1' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-2' | t}}</b></p>
            <p>{{'page.privacy.paragraph-2' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-3' | t}}</b></p>
            <p>{{'page.privacy.paragraph-3' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-4' | t}}</b></p>
            <p>{{'page.privacy.paragraph-4' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-5' | t}}</b></p>
            <p>{{'page.privacy.paragraph-5' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-6' | t}}</b></p>
            <p>{{'page.privacy.paragraph-6' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-7' | t}}</b></p>
            <p>{{'page.privacy.paragraph-7' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-8' | t}}</b></p>
            <p>{{'page.privacy.paragraph-8' | t}}</p>
            <p class="mb-0"><b>{{'page.privacy.sub-title-9' | t}}</b></p>
            <p>{{'page.privacy.paragraph-9' | t}}</p>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "main-privacy",
    "settings": [],
    "presets": [
        {
            "name": "main-privacy"
        }
    ]
}
{% endschema %}