<section class="container">
    <div class="row">
        <div class="col-12 space-section">
            <p class="mb-0"><b>{{"page.term-service.sub-title-1" | t}}</b></p>
            <p>{{"page.term-service.paragraph-1" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-2" | t}}</b></p>
            <p>{{"page.term-service.paragraph-2" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-3" | t}}</b></p>
            <p>{{"page.term-service.paragraph-3-1" | t}}</p>
            <p>{{"page.term-service.paragraph-3-2" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-4" | t}}</b></p>
            <p>{{"page.term-service.paragraph-4-1" | t}}</p>
            <p>{{"page.term-service.paragraph-4-2" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-5" | t}}</b></p>
            <p>{{"page.term-service.paragraph-5-1" | t}}</p>
            <p>{{"page.term-service.paragraph-5-2" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-6" | t}}</b></p>
            <p>{{"page.term-service.paragraph-6" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-7" | t}}</b></p>
            <p>{{"page.term-service.paragraph-7" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-8" | t}}</b></p>
            <p>{{"page.term-service.paragraph-8" | t}}</p>
            <ul style="">
                <li style="list-style:auto">{{"page.term-service.paragraph-8-1" | t}}</li>
                <li style="list-style:auto">{{"page.term-service.paragraph-8-2" | t}}</li>
                <li style="list-style:auto">{{"page.term-service.paragraph-8-3" | t}}</li>
                <li style="list-style:auto">{{"page.term-service.paragraph-8-4" | t}}</li>
            </ul>
            <p class="mb-0"><b>{{"page.term-service.sub-title-9" | t}}</b></p>
            <p>{{"page.term-service.paragraph-9-1" | t}}</p>
            <p>{{"page.term-service.paragraph-9-2" | t}}</p>
            <p>{{"page.term-service.paragraph-9-3" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-10" | t}}</b></p>
            <p>{{"page.term-service.paragraph-10" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-11" | t}}</b></p>
            <p>{{"page.term-service.paragraph-11" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-12" | t}}</b></p>
            <p>{{"page.term-service.paragraph-12" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-13" | t}}</b></p>
            <p>{{"page.term-service.paragraph-13" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-14" | t}}</b></p>
            <p>{{"page.term-service.paragraph-14" | t}}</p>
            <p class="mb-0"><b>{{"page.term-service.sub-title-15" | t}}</b></p>
            <p>{{"page.term-service.paragraph-15" | t}}</p>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "main-term-service",
    "settings": [],
    "presets": [
        {
            "name": "main-term-service"
        }
    ]
}
{% endschema %}