<section class="container py-5">
    <div class="row">
        <div class="col-12 page-title">
            {% comment %} {% render 'breadcrumb-custom', title: page.title %} {% endcomment %}
             {% assign title = 'general.reset-password.text' | t %}
             {% render 'breadcrumb-custom', title: title %}
        </div>
        <div class="col-lg-5">
            <h3>{{ 'general.reset-password.text' | t }}</h3>
            <p> {{ 'general.reset-password.sub-title' | t }}</p>
            {% form 'reset_customer_password' %}
                {{ form.errors | default_errors }}
                <div class="row">
                    <div class="col-12 mb-3">
                        <input type="password" name="customer[password]" placeholder="{{ 'general.reset-password.enter-new-password' | t }}" class="form-control py-3">      
                    </div>
                    <div class="col-12 mb-3">
                        <input type="password" name="customer[password_confirmation]" placeholder="{{ 'general.reset-password.confirm-your-password' | t }}" class="form-control py-3">      
                    </div>
                </div>
              
                <div class="submit">
                  <input type="submit" value="{{ 'general.reset-password.button' | t }}" class="btn btn-primary">
                </div>
              {% endform %}
        </div>
        <div class="col-lg-7 my-auto">
              <img src="{{ 'ayurvedic-cosmetic-ubtan-face-hair-care-scaled.jpg' | asset_url }}" alt="ayurvedic-cosmetic-ubtan-face-hair-care-scaled.jpg" class="img-fluid">
        </div>
    </div>
</section>
{% schema %}
{
    "name": "main-register",
    "settings": [],
    "presets": [
        {
            "name": "main-register"
        }
    ]
}
{% endschema %}